*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav-bar */
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0084fd;
    color: white;
    padding: 25px;
    margin-bottom: 30px;
}
.menu ul{
    display: none;
}
/* start main */

.container,.container-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

/* section 1 */

.container .card:first-child {
    padding: 0 20px;
    text-align: start;
}

.card{
    max-width: 90%;
    padding:20px;
    margin: auto;
    border-radius: 20px;
    background-color:#b5ddff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card-text{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    gap: 2rem;
    padding-top: 30px;

}

.card img{
    max-width:90% ;
}

.card>i{
    font-size: 5rem;
}

.card h3,.card>i{
    color:#0084fd ;
}
/* section 2 */

.container-2{
    color: white;
    background-color: #9593e6;
}

section{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section img{
    padding-bottom: 20px;
    width: 100%;
}

.container-2 .card {

    background-color: white;
}
.container-2 .card i{
    font-size: medium;
    color: black;
    border-radius: 50%;
    background-color: #9593e6;
    padding: 1rem;
}

.container-2 .card h3,.container-2 .card p{
    color: black;
}


 /* section 3 */

.text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.text-container h2{
    color:#9593e6 ;
}

.purple{
    background-color: #9593e6;
    color: white;
    text-align: center;
}
.purple h3{
    background-color: #9593e6;
    color: white;
}

.img-radio{
    display: inline-block;
    /* position: relative; */
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.img-radio img{
    margin-left: -45px;
    max-width: 150%;
    height: 100%;
    
}

/* sectio 4 */

.last-card{
    align-items: flex-start;
    
    max-width: 90%;
    padding:20px;
    margin: auto;
    border-radius: 20px;
    background-color:white;
    
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    color: #9593e6;
    
}

.last-card p{
    color: black;
}
.last-card h2{
    font-size: xx-large;
}

.btn-tertiary{
    color: white;
    background-color: #9593e6;
    padding:  8px 35px;
    border-radius: 20px;
    border: none;
}

/* section 5 */